/* nav bar  */
.navi-bar {
    width: 100%;
    height: 80px;
    background-color: rgba(32, 32, 31, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    position: fixed;
}

.logo-name {
    width: 120px;
}

#logo-img {
    width: 100%;
}

.nav-lists {}

.navioption {
    display: flex;
    gap: 30px;
    list-style: none;
    color: whitesmoke;
}

.nav-btn {}

#navbtn1 {
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 20px;
    color: white;
    font-size: 16px;
    border: none;
}

#navbtn2 {
    padding: 8px 12px;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
    color: rgb(8, 8, 8);
    font-size: 16px;
    border: none;
    margin-left: 20px;
}